:root {
    --priamry-height: 60px;
    --primary-width: 20px;
}

.video-item {
    display: flex;
    width: 100%;
    margin-bottom: 4rem;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid var(--default-sub-border-color);
    padding-bottom: 2rem;
}
.video {
    display: flex;
    margin-right: 5rem;
}
.video-avartar {
    width: 30px;
    height: 30px;
    margin-right: 3rem;
}
.video-avartar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.video-title {
    margin-right: 2.5rem;
}
.video-title-phara {
    display: flex;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
    &:hover h6 {
        text-decoration: underline;
    }
}
.video-title-phara h6 {
    margin-right: 1.2rem;
}
.video-title-phara p {
    font-size: 1.4rem;
}
.video-description {
    margin: 1.2rem 0;
    font-size: 1.4rem;
    color: var(--default-main-text-color);
}
.account-icon {
    margin-left: 0.8rem;
    color: var(--primary-icon);
}
.video-music {
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.video-music p {
    margin-left: 0.4rem;
}
.video-music p {
    font-size: 1.4rem;
    &:hover {
        text-decoration: underline;
    }
}
.video-main {
    width: 300px;
    height: 550px;
    position: relative;
    &:hover .play,
    &:hover .video-volumn {
        display: block !important;
        transition: all ease-in;
    }
}
.video-main video {
    width: 100%;
    max-height: max-content;
    border-radius: 10px;
    object-fit: cover;
    height: 100%;
    object-position: center;
    cursor: pointer;
}
.video-action {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.video-action_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    width: 4.5rem;
    height: 4.5rem;
    color: var(--default-main-text-color);
    padding: 1.1rem;
    border-radius: 50%;
    background-color: var(--default-sub-bg-color);
}
.video-heart,
.video-comment,
.video-share {
    cursor: pointer;
    max-width: max-content;
    margin: 0.5rem 0;
    text-align: center;
}
.video-heart p,
.video-comment p,
.video-share p {
    font-size: 1.4rem;
    margin-top: inherit;
}
.video-nav,
.video-volumn {
    position: absolute;
}
.video-nav {
    bottom: 5%;
    left: 10%;
}
.video-volumn {
    bottom: 5%;
    right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: none;
}
.icon {
    cursor: pointer;
    color: rgba(255, 255, 255, 1);
    font-size: 1.9rem;
}
.play {
    display: none;
}
.range-volume {
    height: 75px;
    width: 20px;
    background: rgba(22, 24, 35, 0.34);
    border-radius: 20px;
    position: relative;
}
.volume-range-btn {
    -webkit-appearance: none;
    background: rgba(209, 209, 209, 0.581);
    border-radius: 5px;
    background-image: linear-gradient(#ffffff, #ffffff);
    background-size: 100% 100%;
    cursor: pointer;
    background-repeat: no-repeat;
    top: 45%;
    transform: rotate(-90deg);
    left: -100%;
    position: absolute;
    height: calc(var(--primary-width) / 8);
    width: calc(var(--priamry-height));
}
/* Input Thumb */
.volume-range-btn::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
    box-shadow: 0 0 2px 0 #555;
    transition: 0.3s ease-in-out;
}
.volume-range-btn::-moz-range-thumb {
    -webkit-appearance: none;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
    box-shadow: 0 0 2px 0 #555;
    transition: 0.3s ease-in-out;
}

.volume-range-btn::-ms-thumb {
    -webkit-appearance: none;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
    box-shadow: 0 0 2px 0 #555;
    transition: 0.3s ease-in-out;
}
/* Input Track */
.volume-range-btn::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

.volume-range-btn::-moz-range-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

.volume-range-btn::-ms-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}
.volume-range-btn::-moz-range-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

.volume-range-btn::-ms-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}
.icon-volumn:hover .range-volume {
    display: block;
}
.icon {
    margin-top: 0.7rem;
}
.darkMode {
    color: var(--default-main-text-color);
}
.darkItem {
    color: #c6c6c6;
}
.darkItem:hover {
    background-color: rgb(24, 51, 46) !important;
}
.isDeskTop_Mobile .video-main {
    width: 220px;
    height: 450px;
}
