.wrapper {
    padding: 2rem;
    width: 300px;
}
.account-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.3rem;
    align-items: center;
}
.account-avatar {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}
.accountWrapper {
    border-radius: 20px;
}
.account-name {
    display: flex;
    align-items: center;
    font-size: 1.7rem;
    line-height: 2rem;
    margin-bottom: 0.4rem;
}
.account-icon {
    margin-left: 0.8rem;
    color: var(--primary-icon);
}
.account-username {
    font-size: 1.5rem;
}
.account-analytics {
    display: flex;
    margin-top: 1rem;
}
.account-label {
    color: rgba(71, 71, 71, 0.74);
    font-size: 1.5rem;
    margin-right: 1.8rem;
}
.account-value {
    margin-right: 0.6rem;
}
.account-bio {
    margin-top: 1rem;
    max-width: max-content;
}
.account-bio p {
    font-size: 1.3rem;
    color: var(--default-sub-text-color);
}
.account-detail {
    border-bottom: 1px solid var(--default-sub-border-color);
    padding-bottom: 1rem;
}
.darkMode {
    background-color: rgb(34, 34, 34);
}
.darkMode strong {
    color: #fff;
}
